<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_qlbh_Connection_rptDMHH" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-8EI4770R;integrated security=SSPI;initial catalog=qlbh" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>